.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    border-radius: 10px;
    box-shadow: rgba(100,100,111,0.2);
    padding: 1rem;
    background-color: whitesmoke;

    .delete-btn {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -8px;
        right: -8px;
        background-color: red;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        font-size: 1rem;
        color: white;
        padding: 0.5rem;
        cursor: pointer;
        z-index: 1;

        svg:hover {
            transform: scale(1.1);
        }
    }

    img {
        border-radius: 50%;
        width: 100%;
        max-width: 250px;
        max-height: 250px;
        height: 100%;
        object-fit: cover;
    }

    h2 {
        font-size: 24px;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        color: rgb(0, 0, 0);
    }

    span {
        font-size: 16px;
        color: rgb(0, 0, 0);
        text-align: center;
    }

    .edit-btn {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0275d8;
        color: white;
        font-weight: bold;
        transition: all 0.1s linear;
        margin-top: 1rem;
        width: 100%;
        font-size: 1rem;
        padding: 0.5rem;

        &:hover {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 7px 0px;
            transform: scale(1.1);
        }
    }

    @media screen and (max-width: 480px) {
        width: 100%;
        max-width: 100%;
        padding: 0.5rem;
        margin-bottom: 1rem;
        box-shadow: none;
        border-radius: 0;
    }
}
