.card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    border-radius: 10px;
    box-shadow: rgba(100,100,111,0.2);
    padding: 0;
    background-color: whitesmoke;
    padding: 1rem;

    .delete-btn{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: calc(0% - 2px);
        right: calc(0% - 2px);
        background-color: red;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        font-size: 1rem;
        color: white;
        padding: 0.5rem;
        border-radius: 5px;
        cursor: pointer;
        z-index: 1;
    
        svg:hover{
            transform: scale(1.1);
        }
    
    }
    

    img{
        border-radius: 50%;
        width: 250px;
        height: 250px;
        object-fit: cover;
    }

    h2{
        font-size: 36px;
        color: rgb(0, 0, 0);
        
    }
    span{
        font-size: 18px;
        color: rgb(0, 0, 0);
        text-align: left;

    }

    .edit-btn{
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0275d8;
        color: white;
        font-weight: bold;
        transition: all 0.1s linear 0.1s;
        margin-top: 1rem;
        width: 6rem;
        height: 2rem;
        font-size: 1rem;
        padding: 0.5rem;
        

        &:hover {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 7px 0px;
            transform: scale(1.1);
        }
    
    }

}


